html,
body {
  margin: 0;
  padding: 0;
  background: #263627
}

.wrapper {
  max-width: 500px;
  margin: 100px auto;
}

.container {
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

#menu {
  padding-top: 2em;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none !important;
}

li {
  font-family: arial;
  font-size: 20px;
  padding: 10px;
  border-bottom: 2px solid #dddd;
}


.hl {
  color: skyblue;
}